<div class = "container">
    <%= currently_at %>
    <h1 class="display-3 mt-4">Help page</h1>
    <h2 class="display-4 mt-4">It is a car online shopping app, currently you can choose a car by your own search parameters!</h2>
    <%=link_to 'Back to Home page', root_path,  class: 'btn btn-primary mt-4'%>
</div>